extends layout

block content
  #nodepad
    header.panel.topcoat-button-bar
      h1 Nodepad
      #toolbar
        .topcoat-button-bar__item
          button.topcoat-button-bar__button--large
            i.material-icons save
        .topcoat-button-bar__item
          button.topcoat-button-bar__button--large
            i.material-icons settings
        .topcoat-button-bar__item
          button.topcoat-button-bar__button--large
            i.material-icons account_circle
        .topcoat-button-bar__item
          button.topcoat-button-bar__button--large(@click='togglePreview')
            i.material-icons pageview
    textarea.panel.topcoat-textarea--large.item(:value='input', @input='update', rows='30', cols='36')
    #preview.item(v-html='compiledMarkdown',v-show='displayPreview')
      h1 oi
    footer.item
      span.copyleft ©
      | Thiago Paiva 2019
  script(src='javascripts/index.js')