doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/topcoat/0.8.0/css/topcoat-desktop-dark.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='/stylesheets/gmc/github-markdown-css.min.css')
    script(type='text/javascript', src='javascripts/service.js')
    script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.4.2/markdown-it.js')
    script(type='text/javascript', src='https://unpkg.com/lodash@4.16.0')
  body
    block content